

body {
    background-image: url("../images/night.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

.question{
    text-align: center;
    margin-top: 100px;
}
.ballon{
    position: relative;
    display: inline-block;
    margin: 3em 0;
    padding: 50px 50px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-style: 25px;
    background: #e0edff;
    border-radius: 15%;
}
.ballon h2{
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0;
    padding: 0;
}
.ballon p{
    font-size: 20px;
}

.buttom{
    text-align: center;
    margin-top: 40px;
    
}
.yes{
    padding: 30px 75px;
    font-size: 50px;
    color: #fff;
    background: rgb(247, 54, 54);
}
.no{
    padding: 30px 80px;
    font-size: 50px;
    margin-left: 50px;
    color: #fff;
    background: rgb(68, 68, 252);
}
