

body {
    background-image: url("./images/back-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

h1{
	font-size: 50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	 border-radius: 0.5em;
	 background: #b0dcfa; /*背景色*/
  	padding: 0.5em;/*文字周りの余白*/
  	width:500px;
	 
}

.logo>img {
    width: 200px;
    height: 200px;
}

.form {
    position: absolute;
    bottom: 20%;
    left: 42.5%;
}

.hiyoko>img{
    padding-top: 10px;
    width: 300px;
    height: 300px;
    
    /* width: 500px; */
}

.button {
    display       : inline-block;
    border-radius : 20%;          /* 角丸       */
    font-size     : 17pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 38px 66px;   /* 余白       */
    background    : #007fff;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #007fff;    /* 枠の指定 */
    }
    .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #007fff;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}